<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Bathsperience</title>
        <%- include('../fragmente/head.ejs') %>
        <link rel="stylesheet" href="/css/tabel.css" />
<link rel="stylesheet" href="/css/linktop.css" />
<link rel="stylesheet" href="/scss/stil.css">
<link rel="stylesheet" href="/css/banner.css">
<link rel="stylesheet" href="/css/general.css" type="text/css" />
<link rel="stylesheet" href="/css/style.css">
<script src="/js/script.js"></script>

    </head>
    <style>
     
    </style>
    <script src="/js/menu.js"></script>
    <body id="schema-cromatica">
        
        <%- include('../fragmente/header.ejs') %>
    
        <main>
        <div class="area8">  
        <p>Devino membru Bathsperience si hai in clubul nostru SELECT, unde baia cu spuma nu mai este doar rutina, este un voiaj pe taramul prospetimii si distractiei!</p>
        <div class="content">
            <div class="icon-section">
                <i class="fas fa-heart icon"></i>
                <i class="fas fa-sync-alt icon icon-animated"></i>
            </div>
        </div>
            <details>
           
                <summary>Fa click beneficiile noilor membri!</summary>
           
            
                <section id="pagina_1">
                    <h2>Bai cu spuma ca niciodata pana acum! La 50% reducere!</h2>
                    <p>Hai la baita cu cele mai noi discount-uri!</p>
                    <br>
                    <p>Devino si tu un fanatic al <b>baitelor cu spuma</b> cu gama noastra variata de saruri de baie aromate care transforma o experienta plictisitoare intr-un moment de rasfat. Fie ca iti doresti ca spuma luxurianta si parfumata sa te acopere din cap pana-n picioare sau ca mirosurile si aromele exotice sa-ti gadile simturile pentru momente de meditatii adanci, la "Bathsperience" gasesti produse de calitate premium si chiar si <i>ultra premium gold</i>, potrivite pentru intreaga familie (si prieteni). Bucura-te de <strong>reduceri de pana la 50% </strong>la produsele selectionate si devino membru Bathsperience ultra premium gold chiar acum!</p>
                    <br>
                    <p>Pentru cei mici, dar si cei mari, am pregătit o selecție incredibila figurine de baie care iti umplu seara cu distracție și veselie. Nu uita sa descoperi colectia lui B-Duck, ratusca noastra absolut <b>obsedata</b> de baie. Doar acum, ai figurine clasice si ratuste la preturi de top! <strong>Nu ratati!</strong></p>
                    <!--<img src="./resurse/bduckprofil.jpeg" alt="poza_ratusca" title="Ratusca noastra iubita, B-Duck!">-->
                </section>
            </details>
            <div class="video-container">
                <video controls preload="metadata" poster="/video/poster.jpg">
                    <source src="/video/ratadus.mp4" type="video/mp4">
                    <source src="/video/ratadus.ogv" type="video/ogv">
                    
                    <track src="/video/tracks/captions-ratadus.vtt" kind="subtitles" srclang="ro" label="Română" default>
                    <track src="/video/tracks/captions-ratadus-en.vtt" kind="subtitles" srclang="en" label="English">
                    
                    Browserul tău nu suportă videoclipuri HTML5.
                </video>
            </div>
            <hr class="fancy-hr">
        </div>
        <div class="area2">
                <table>
                    <thead>
                        <tr>
                            <th>Eveniment</th>
                            <th>Data</th>
                            <th>Locație</th>
                            <th>Participanți</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Conferință despre Baie</td>
                            <td>15 februarie 2025</td>
                            <td>Hotel Central</td>
                            <td>150</td>
                        </tr>
                        <tr>
                            <td>Workshop cu angajații</td>
                            <td>20 martie 2025</td>
                            <td>Birouri</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Expoziție produse noi</td>
                            <td>30 aprilie 2025</td>
                            <td>Grand Arena</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Lansare noi produse</td>
                            <td>1 iunie 2025</td>
                            <td>Magazine Parteneri</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>2 iunie 2025</td>
                            <td>Magazine Online</td>
                            <td>500</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">Tabel cu evenimente viitoare</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        
        </div>
        <div class="area3">
            Placeholder calendar
        </div>
        <div class="area4">
            <section id="subcapitol-1">
                <h2>Bathsperience - prezentare generala</h2>
                <figure>
                    <picture>
                
                        <source srcset="./resurse/x_large.png.png" media="(min-width: 1280px)">
                        
                        <source srcset="./resurse/x_medium.png" media="(min-width: 768px)">
                        
                        <source srcset="./resurse/x_small.png" media="(max-width: 412px)">
                         <img src="./resurse/x-large.png.png" alt="Baie cu ratusca" title="Spuma">
                    </picture>
                    <figcaption>Stim ca iti place sa faci baie, prin Bathsperience iti oferim sansa de a te rasfata la maxim!</figcaption>
                </figure>
                    <p>Bine ai venit in locul pe care tu si familia ta il veti indragi. Locul unde am reinventat <b>baia</b> si am transformat-o in paradis. Lasati-va patrunsi de vaporii calzi incarcati cu proprietațile sarurilor exotice, sau pur si simplu bucurati-va de o <b>baie</b> plina de tone de <b>clabuci</b> si arome placute dizolvand in apa produsele Bathsperience.</p>
                    <p>Bathsperience aduce divertismentul in <b>cada</b> celor mici (dar si a celor mari) cu <b>jucarii</b> precum <b>figurine plutitoare</b> sau  <b>ratuste de cauciu</b>, dar in acelasi timp pregateste senzatii relaxante unice prin gama de produse pentru apa,  precum <b>bathbombs</b> sau <b>saruri de baie</b>, testate dermatologic!. </p>
                    <p><b>Spa</b> plin cu <b>bule</b> la tine acasa! <b>Parc acvatic</b> pentru cei mici! Asculta-ti simturile si da frau liber imaginatiei!</p>
                    <p>Bathsperience va aduce o experienta unica in propria baie. Scaldati-va si  dumneavoastra alaturi de <b>ratusca B-Duck</b>, mascota noastra, cu noile oferte din colectia Bathsperience. Strange toata gasca lui B-Duck chiar acum! Asa cum prietenul nostru B-Duck ar spune <q> La baie se numara bobocii!</q> Toate ratustele din <em>seria 1 B-Duck</em> disponibile pe site! Te incumeti sa-l gasesti pe B-king? Incearca-ti norocul, achizitionand acum Ratusca surpriza. <strong>Atentie! Stocurile sunt limitate!</strong></p>
                    <p>Lasati-va patrunsi de vaporii calzi incarcati cu proprietațile sarurilor exotice, sau pur si simplu bucurati-va de o baie plina de tone de clabuci si arome placute dizolvand in apa produsele Bathsperience. Iata ce oferim:</p>
                    <ol>
                        <li><a class="link" href="#subcapitol-4"> Ratuste de jucarie</a></li>
                        <li><a class="link" href="#subcapitol-5"> Figurine plutitoare</a></li>
                        <li><a class="link" href="#subcapitol-6"> Bath bombs</a></li>
                        <li><a class="link" href="#subcapitol-7"> Saruri minerale pentru baie</a></li>
                      </ol>

                    <h3>Videoclipuri demonstrative</h3>
                    <div class="container-iframe">
                             
                        <iframe name="ifr-video" width="420" height="236" src="https://www.youtube.com/embed/E8o45K4MqJ8?si=_cmfDMrRbGSMg1fT" 
                                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen></iframe>
                                <div class="taburi-iframe">
                                    <a class="tab-iframe" href="https://www.youtube.com/embed/E8o45K4MqJ8?si=_cmfDMrRbGSMg1fT" target="ifr-video">Video 1</a>
                                    <a class="tab-iframe" href="https://www.youtube.com/embed/DWXMlUg5QbU?si=va2ToZ_ir7Zrgw9P" target="ifr-video">Video 2</a>
                                    <a class="tab-iframe" href="https://www.youtube.com/embed/lPmRQkgJbt0?si=xZl4aT69UoNWoedO" target="ifr-video">Video 3</a>
                                </div>   
                    </div>
                    <h2>Parteneri</h2>
                    <p>Vizitați <a class="link" href="https://fmi.unibuc.ro/" target="_blank" rel="noopener noreferrer">site-ul partenerilor nostri</a> pentru mai multe informații.</p>
            </section>
        </div>
        <div class="area5">
            <section id="subcapitol-2">
                <h2>Stiri si noi oferte</h2>
                <section>
                    <h3>Stiri</h3>
                    <p>Am lansat noua gama de ratuste, B-Series! Cumpara-le pe toate separat sau incearca-ti norocul achizitionand pachetul misterios! Doar asa ai sansa sa intalnesti cea mai rara ratusca din colectie, B-King! <strong>Nu ratati!</strong></p>
                </section>
                <section>
                    <h3>Oferte</h3>
                </section>
            </section>
        </div>
        <div class="area6">
            <section id="subcapitolul-3">
            <h2>Povestea noastra si parteneri</h2>
                <p>WIP Povestea bathsperience este una frumoasa.</p>
                <p>Vizitați <a class="link" href="https://fmi.unibuc.ro/" target="_blank" rel="noopener noreferrer">site-ul partenerilor nostri</a> pentru mai multe informații.</p>
                <p>Pentru ca ati citit povestea noastra, avem o surpriza pentru dumneavoastra!</p>
                <p>Descărcați <a class="link" href="./resurse/cod_reducere.pdf" target="_blank" download>documentul PDF</a> pentru a afla codul de reducere! SUper wow!</p>
            </section>
        </div>
        <div class="area7">Anunturi
            <p> Why do we use it?
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                
        </div>
       
        <div class="area10">Altceva
            <p>IP-ul tău: <%= ip_utilizator %></p>
            <div class="duotone-container"></div>
        </div>
        <div class="area9">Altceva 2
           
        </div>
        <div class="area1">utilizatori online
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

            Why do we use it?
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            
        </div>
        <a href="#" id="link-top">
            <span>&#8593;</span> 
        </a>
        </main>
        <%- include('../fragmente/footer.ejs') %>
        <script src="script.js"></script>
    </body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuCheckbox = document.getElementById("ch-menu");
            const menu = document.querySelector(".meniu");
            const menuLinks = document.querySelectorAll(".meniu a");
      
            // Open menu when clicking the hamburger
            document.getElementById("hamburger").addEventListener("click", function () {
                menu.classList.toggle("open");
            });
      
            // Close menu when clicking a menu link
            menuLinks.forEach(link => {
                link.addEventListener("click", function () {
                    menu.classList.remove("open");
                    menuCheckbox.checked = false; // Uncheck checkbox (if using checkbox method)
                });
            });
        });
      </script>
