<footer>
<hr>
<p class="banner">Acesta este un proiect școlar!</p>
<p>Contactați-ne:</p>
<p>Telefon: <a href="tel:+4074742402">+40734742402</a></p>
<p>Adresă: <a href="https://maps.app.goo.gl/HxSosXapZPkTkoV6A" target="_blank"> Strada Academiei 14, București 010014</a></p>
<p>Email: <a href="mailto:batshperience@gmail.com">bathsperience@gmail.com</a></p>
<p>Chat pe WhatsApp: <a href="https://www.whatsapp.com/" target="_blank">Scrie-ne!</a></p>
<p><a href="#top">Back to the top</a></p>
<small>Robert Pufu &copy; <time datetime="2024-11-03">2024</time> | Toate drepturile rezervate.</small></footer>